body{
  overflow-x:hidden;
}
 
h1{width: 25%;
  margin: auto;
  margin-top: 10px;
  color:rebeccapurple;
}

#search-phone{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.card{border: 2px solid blue;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}
#see-more{
  margin-top: 40px;
  margin-bottom: 20px;
 
}

.phone-detail{border: 2px solid green;
  margin-top: 145px;
  padding: 30px;
  border-radius: 10px;
}
.image{
  margin-bottom: 15px;
}
@media (max-width:570px){
  
  h1{
    font-size: 40px;
  }
  .input{
    margin-left: 5px;
    margin-right: 15px;
  }
  #search-phone{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  #see-more{
    margin-top: 10px;
    margin-left: 0px;
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .phone-detail{
    margin-top: 15px;
    padding: 30px;
    border-radius: 10px;
    padding: 20px;
  }
}