
h1{width: 25%;
  margin: auto;
}

#search-phone{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.card{border: 2px solid blue;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.phone-detail{border: 2px solid green;
  margin-top: 145px;
  padding: 30px;
  border-radius: 10px;
}
.image{
  margin-bottom: 15px;
}